---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';
import Projects from '@/sections/projects.astro';
import Hero from '@/sections/Hero.astro';
import { estiem } from '@/data/estiem';
import { engineer } from '@/data/aboutMe';
---

<Layout>
	<main>
		<Hero />
		<Card title={engineer.title} description={engineer.description} />
		<Card title={estiem.title} description={estiem.description} />
		<Projects />
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		padding-top: 1rem;
	}
</style>