---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';
import Projects from '@/sections/projects.astro';
import { engineer } from '@/data/engineer';
import { estiem } from '@/data/estiem';
---

<Layout>
	<main>
		<h1>David Barrero</h1>
		<Card title={engineer.title} description={engineer.description} />
		<Card title={estiem.title} description={estiem.description} />
		<Projects />
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
</style>