---
interface Props {
	title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div>
  <h2>{title}</h2>
  <p>{description}</p>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    border-radius: 16px;
    padding: 16px;
    margin-inline: 16px;
    border-color: var(--color-accent);
    border-width: 2px;
    border-style: solid;
  }
</style>