---
import Github from "@/assets/github.astro";
import Linkedin from "@/assets/linkedin.astro";
import Link from "@/assets/link.astro";
---

<footer>
  <a target="_blank" href="https://links.davidbarfer.com" aria-label="Website">
    <Link />
  </a>
  <a
    target="_blank"
    href="https://www.linkedin.com/in/davidbarfer/"
    aria-label="Linkedin"
  >
    <Linkedin />
  </a>
  <a
    target="_blank"
    href="https://github.com/davidbarfer"
    aria-label="Github"
  >
    <Github />
  </a>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  a {
    text-decoration: none;
    color: var(--color-accent);
  }
  a:hover {
    scale: 1.125;
    opacity: 0.7;
  }
</style>
