---
import Analytics from '@vercel/analytics/astro'
import Footer from "@/sections/Footer.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>David Barrero Portfolio</title>
		<Analytics />
	</head>
	<body>
			<slot />
			<Footer />
	</body>
</html>

<style is:global>
	:root {
		--color-primary: #0A192F;
		--color-secondary: #2A526D;
		--color-accent: #ffc800;
	}
	*,**::after,**::before {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html,
	body {
		margin: 0;
		background-color: var(--color-primary);
		color: var(--color-accent);
		min-height: 100vh;
	}

	main {
		position: relative;
	}

	p {
    font-size: 1rem;
  }

	h1 {
    font-size: 2rem;
	}
	h2 {
    font-size: 1.25rem;
	}
</style>
